<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>CORONA-19 Dashboard</title>


</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="dashboard_graph">
            <div class="row x_title">
                <div class="col-md-6">
                    <h3><small>CORONA-19 Virus infection distribution map by region in Korea</small></h3>
                </div>
                <div class="col-md-6">
                    <div id="reportrange" class="pull-right"
                         style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <span th:text="'' + ${today}"></span></b>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="display: inline-block;">
                <div class="tile_count">
                    <div class="col-md-2 col-sm-4  tile_stats_count">
                        <span class="count_top">Today Infected</span>
                        <div class="count" th:text="${todayTotalInfectedPersonCnt}" style="color: orangered"></div>
                    </div>
                    <div class="col-md-2 col-sm-4  tile_stats_count">
                        <span class="count_top">Total Infected</span>
                        <div class="count" th:text="${totalInfectedPersonCnt}"></div>
                    </div>
                    <div class="col-md-2 col-sm-4  tile_stats_count">
                        <span class="count_top">Isolation</span>
                        <div class="count" th:text="${isolationPersonCnt}"></div>
                    </div>
                    <div class="col-md-2 col-sm-4  tile_stats_count">
                        <span class="count_top">Recovered</span>
                        <div class="count" th:text="${releasePersonCnt}"></div>
                    </div>
                    <div class="col-md-2 col-sm-4  tile_stats_count">
                        <span class="count_top">Deaths</span>
                        <div class="count" th:text="${deathPersonCnt}"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div id="map" class="demo-placeholder"
                     style="padding: 0px; position: relative; width: 100px; height: 100px"></div>
            </div>
            <div class="col-md-3 col-sm-3 bg-white" >
                <div class="x_title" style="text-align: center">
                    <div><h4>CORONA-19 Virus Ranking of regions</h4></div>
                    <div class="clearfix"></div>
                </div>
                <div th:each="item : ${rankList}" style="margin-left: 10px">
                    <input type="hidden" th:id="${item.regionId}" th:value="${item.percentOfCountry}">
                    <input type="hidden" th:id="${'rtotal_' + item.regionId}" th:value="${item.totalInfectPersonCnt}">
                    <input type="hidden" th:id="${'ttotal_' + item.regionId}" th:value="${item.todayInfectedPersonCnt}">
                    <p th:id="'eng_' + ${item.regionId}" th:text="${item.regionEngName}"></p>
                    <div th:class="''">
                        <div th:style="'width:76%'" class="progress progress_sm">
                            <div th:style="'width:' + ${item.percentOfCountry} + '%'" class="progress-bar bg-green"
                                 role="progressbar" data-transitiongoal="80" aria-valuenow="79"></div>
                            <div th:text="${item.percentOfCountry + '%'}" style="text-align: right; color: grey"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script>
    const map = new naver.maps.Map(document.getElementById('map'), {
        zoom: 7,
        minZoom: 7, //지도의 최소 줌 레벨
        mapTypeId: 'normal',
        zoomControl: true,
        center: new naver.maps.LatLng(36.498088, 126.966560)
    });

    const tooltip = $('<div style="position:absolute;z-index:1000;padding:5px 10px;background-color:#fff;border:solid 2px #000;font-size:14px;pointer-events:none;display:none;"></div>');
    tooltip.appendTo(map.getPanes().floatPane);

    let HOME_PATH = window.HOME_PATH || '.',
        urlPrefix = HOME_PATH + '/data/region',
        urlSuffix = '.json',
        regionGeoJson = [],
        loadCount = 0;

    $(document).ready(function () {
        // map resize handling
        const $window = $(window);
        function getMapSize() {
            return new naver.maps.Size($window.width() * 0.93, $window.height() * 1.1);
        }
        $window.resize(function () {
            map.setSize(getMapSize());
        });
        map.setSize(getMapSize());

        // GeoJson data setting
        naver.maps.Event.once(map, 'init_stylemap', function () {
            for (let i = 1; i < 18; i++) {
                let keyword = i + '';

                if (keyword.length === 1) {
                    keyword = '0' + keyword;
                }

                $.ajax({
                    url: urlPrefix + keyword + urlSuffix,
                    success: function (idx) {
                        return function (geojson) {
                            regionGeoJson[idx] = geojson;

                            loadCount++;

                            if (loadCount === 17) {
                                startDataLayer();
                            }
                        }
                    }(i - 1)
                });
            }
        });
    });

    function startDataLayer() {
        // 기본 맵 스타일 셋팅
        map.data.setStyle({
            fillColor: '#ff0000',
            fillOpacity: 0.001,
            strokeColor: '#ff0000',
            strokeWeight: 2,
            strokeOpacity: 0.4
        });

        // 지역별 감염자 수에 따라 채도를 다르게 설정함.
        let i = 0;
        regionGeoJson.forEach(function (geojson) {
            map.data.addGeoJson(geojson);

            let strong = $("#" + geojson.features[0].properties.CTPRVN_CD).val();
            if (strong.length < 2) {
                strong = '0' + strong;
            }

            let floatValue = parseFloat(strong);
            const value = floatValue > 15 ? floatValue * 0.04 : floatValue * 0.09;
            map.data.overrideStyle(map.data._features[i], {
                fillOpacity: value
            });

            i++;
        });

        // 마우스 오버 이벤트 처리
        map.data.addListener('click', function (e) {
            const regionId = e.feature.getProperty('CTPRVN_CD');
            const regionName = $("#eng_" + regionId).text();
            const totalCountOfRegion = $("#rtotal_" + regionId).val();
            const todayCountOfPerson = $("#ttotal_" + regionId).val();
            const tooltipText = regionName
                + "<br>" + "total : " + totalCountOfRegion
                + "<br>" + "today : " + todayCountOfPerson
            ;

            tooltip.css({
                display: '',
                left: e.offset.x,
                top: e.offset.y
            }).html(tooltipText);
        });
    }
</script>
</body>
</html>